/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  /*===== Colores =====*/
  --first-color: #73b72e;
  --first-color-dark: #358146;
  --first-color-light: #A49EAC;
  --first-color-lighten: #F2F2F2;
  --header-height: 3.5rem;

  /*===== Font and typography =====*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}


@media screen and (min-width: 768px){
  :root{
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
  }

body{
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--first-color-dark);
  transition: .4s; /*For animation dark mode*/
}

h1{
  margin: 0;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}
/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
    --first-color-dark: #358146;
    --title-color: hsl(var(--hue), 4%, 95%);
    --text-color: hsl(var(--hue), 4%, 75%);
    --body-color: hsl(var(--hue), 8%, 12%);
    --container-color: hsl(var(--hue), 8%, 16%);
  }
  
  /*========== Button Dark/Light ==========*/
  .change-theme{
    color: var(--title-color);
    font-size: 1.15rem;
    cursor: pointer;
  }
  .nav__btns{
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
  }

  /*========== 
Color changes in some parts of 
the website, in dark theme 
==========*/

.dark-theme .steps__bg,
.dark-theme .questions{
  background-color: var(--first-color-dark);
}

.dark-theme .rotation__circle,
.dark-theme .footer__subscribe{
  background-color: var(--container-color);
}

.dark-theme .scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, .3);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
    padding: 5.5rem 0 1rem;
  }
  
  .section__title,
  .section__title-center{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-100);
    line-height: 100%;
  }
  
  .section__title-center{
    text-align: center;
  }
  
  .container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  
  .grid{
    display: grid;
  }
  
  .main{
    overflow: hidden; /*For animation*/
  }

  /*=============== NAV ===============*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo,
  .nav__toggle,
  .nav__close{
    color: var(--title-color);
  }
  
  .nav__logo{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
  }
  
  .nav__logo-icon{
    font-size: 1.15rem;
    color: var(--first-color);
  }
  
  .nav__logo:hover{
    color: var(--first-color);
  }
  
  .nav__toggle{
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  @media screen and (max-width: 767px){
    .nav__menu{
      position: fixed;
      background-color: var(--container-color);
      width: 80%;
      height: 100%;
      top: 0;
      right: -100%;
      box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
      padding: 4rem 0 0 3rem;
      border-radius: 1rem 0 0 1rem;
      transition: .3s;
      z-index: var(--z-fixed);
    }
  }
  
  .nav__close{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
  }
  
  .nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  
  .nav__link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
  }
  
  .nav__link:hover{
    color: var(--first-color);
  }
  
  /* Show menu */
  .show-menu{
    right: 0;
  }
  
  /* Change background header */
  .scroll-header{
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
  }
  
  /* Active link */
  .active-link{
    position: relative;
    color: var(--first-color);
  }
  
  .active-link::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--first-color);
  }
/*=============== HEADER ===============*/
.header{
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 200px;
    z-index: var(--z-fixed);
    transition: .4s; /*For animation dark mode*/
  }
  /* Change background header */
.scroll-header{
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
  }

/*===== LOGIN =====*/
.login{
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.login__content{
  display: grid;
}

.login__img{
  justify-self: center;
}

.login__img img{
  width: 310px;
  margin-top: 1.5rem;
}

.login__forms{
  position: relative;
  height: 368px;
}

.login__registre, .login__create{
  position: absolute;
  bottom: 1rem;
  width: 100%;
  background-color: var(--first-color-lighten);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
  animation-duration: .4s;
  animation-name: animate-login;
}

@keyframes animate-login{
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.login__title{
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

.login__box{
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: .5rem;
  padding: 1.125rem 1rem;
  background-color: #FFF;
  margin-top: 1rem;
  border-radius: .5rem;
}

.login__icon{
  font-size: 1.5rem;
  color: var(--first-color);
}

.login__input{
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: var(--first-color-dark);
}

.login__input::placeholder{
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--first-color-light);
}

.login__forgot{
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: .5rem;
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--first-color-light);
}

.login__button{
  display: block;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--first-color);
  color: #FFF;
  font-weight: 600;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
}

.login__button:hover{
  background-color: var(--first-color-dark);
}

.login__account, .login__signin, .login__signup{
  font-weight: 600;
  font-size: var(--small-font-size);
}

.login__account{
  color: var(--first-color-dark);
}

.login__signin, .login__signup{
  color: var(--first-color);
  cursor: pointer;
}

.login__social{
  margin-top: 2rem;
}

.login__social-icon{
  font-size: 1.5rem;
  color: var(--first-color-dark);
  margin: 0 1.5rem;
}

/*Show login*/
.block{
  display: block;
}

/*Hidden login*/
.none{
  display: none;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px){
  .login__forms{
    width: 348px;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px){
  .login{
    height: 100vh;
    overflow: hidden;
  }

  .login__content{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
  }

  .login__img{
    display: flex;
    width: 600px;
    height: 588px;
    background-color: var(--first-color-lighten);
    border-radius: 1rem;
    padding-left: 1rem;
  }

  .login__img img{
    width: 390px;
    margin-top: 0;
  }

  .login__registre, .login__create{
    left: -11rem;
  }

  .login__registre{
    bottom: -2rem;
  }

  .login__create{
    bottom: -5.5rem;
  }
}
.footer__copy{
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin: 5rem 0 1rem;
    position: relative;
    top: -100px;
  }
